Package: altprobe
Version: 1.0-3
Section: base
Priority: optional
Architecture: amd64
Depends: libyaml-0-2, libyaml-dev, libdaemon-dev, libboost-all-dev, libapr1-dev, libssl-dev
Maintainer: Oleg Zharkov <olegzhr@gmail.com>
Description: Alertflex collector
